.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
}
.marquee__item {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
  padding: 5px 15px 5px 15px;
}
.marquee:hover .marquee__item {
  animation-play-state: paused;
}

@keyframes marquee-content {
  /* Element one fully ON screen at left-edge of container. */
  from {
    transform: translateX( 0% );
  }
  /* Element one fully OFF screen (just beyond left-ledge of container). */
  to {
    transform: translateX( -100% );
  }
}